--
-- PostgreSQL database dump
--

\restrict 75fcL4G2EjSczF6AHRrUdCti4Cjf7LNC3Bdi3rt0q9zwVKMTl16r3PFOCJEY55I

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: fokontany; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fokontany (
    id_fkt bigint NOT NULL,
    fkt text,
    firaisana text,
    distrika text
);


ALTER TABLE public.fokontany OWNER TO postgres;

--
-- Data for Name: fokontany; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: fokontany fokontany_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fokontany
    ADD CONSTRAINT fokontany_pkey PRIMARY KEY (id_fkt);


--
-- PostgreSQL database dump complete
--

\unrestrict 75fcL4G2EjSczF6AHRrUdCti4Cjf7LNC3Bdi3rt0q9zwVKMTl16r3PFOCJEY55I

